@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

/* Resets */
:root {
    --text-color-wh: #ffffff;
    --text-color-blu: #071629;
    --btn-color: #FF6565;
    --space: 20px;
    --space-x: 40px 0;
    --text-container: 800px;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Code Pro";
    color: var(--text-color-wh);
    font-family: 1rem;
    text-align: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

header {
    background: url("/images/background.png") no-repeat center center/cover;
    max-width: 100%;
    min-height: 100vh;
}

li,
a {
    text-decoration: none;
    list-style: none;
    color: var(--text-color-wh);
}

button {
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 550;
    color: var(--text-color-wh);
    background: var(--btn-color);
    display: block;
    transition: background all .2s ease;
}

button:hover {
    cursor: pointer;
    background: #d44b4b;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .5);

}

.text-container {
    width: min(var(--text-container), 100%);
}

/***** Responsive Headers *****/
h1 {
    font-size: clamp(1.7rem, 5vw, 3.5rem);
}

h2 {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
}

h3 {
    font-size: clamp(1rem, 2vw, 1.25rem);
}

/***** End Responsive Headers *****/

/***** Hero Section *****/

/* Navgations */
#logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    padding: 20px;
}

#logo-container a {
    margin-right: auto;
    /* align-items: flex-start; */
}

#logo-container i {
    cursor: pointer;
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: var(--space);
}

.navbar {
    display: flex;
    gap: var(--space);
    align-items: center;
    margin-right: 1.25rem;
}

.hero {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: auto;

}

.hero h1 {
    margin-bottom: 2rem;
}

.hero p {
    margin-bottom: 2rem;
    text-wrap: wrap;
}

.hero button {
    margin-bottom: 2rem;

}

/***** End Hero Section *****/

/***** What we do Section *****/
.what_we_do {
    color: var(--text-color-blu);
    padding: var(--space-x);
}

.what_we_do h2 {
    margin-bottom: var(--space);
    margin-top: 10px;
    /* margin: var(--space-x); */
}

.what_we_do p {
    margin: var(--space);
}

.products h3 {
    margin: var(--space-x);
}

.flex-container {
    display: flex;
    align-items: center;
    gap: var(--space);
    margin: var(--space-x);
}

.flex-item {
    width: min(280px, 100%);
}

/***** End What we do Section *****/

/***** Our resluts *****/
.our_results {
    background: url("/images/part_3_dark.png") no-repeat center/cover;
    padding: var(--space-x);
    height: 100%;
}

.our_results_content {
    padding: var(--space-x);

}

.our_results_content h2 {
    margin-bottom: var(--space-x);
}


.our_results p {
    margin: var(--space);
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
}

.grid-item {
    position: relative;
    display: inline-block;
    margin: var(--space);
}

.grid-item img {
    max-width: 300px;
    width: 100%;
    display: block;
    margin: auto;
}

.overlay-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}


/***** End Our resluts *****/


.contact_us {
    color: var(--text-color-blu);
    margin: var(--space-x);

}

.contact_us h3 {
    margin-bottom: var(--space);
    margin-top: 10px;

}

.contact_us p {
    margin-bottom: var(--space);
    margin-top: var(--space);

}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space);
}

.form-tags,
textarea {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-tags input {
    background: none;
    padding: 10px 50px;

}


footer {
    background: var(--text-color-blu);
    padding: var(--space-x);
}

footer #footer-cred {
    color: rgba(211, 211, 211, 0.651);
    margin-top: var(--space);
}

.footer-item .fa-brands {
    color: rgba(211, 211, 211, 0.651);


}

.fa-brands:hover {
    transform: scale(1.2);
    color: rgba(238, 237, 237, 0.856);

}

.footer {
    display: flex;
    justify-content: space-evenly;
    gap: var(--space);
    align-items: center;
}

/***** Responsiviness *****/
@media (max-width:480px) {
    .container {
        padding: 40px;
    }

    #logo-container {
        margin-bottom: 6rem;
        /* background-color: #d44b4b; */
    }

    .flex-container {
        flex-direction: column;
        width: 100%;
    }


    .hero {
        /* top: 0; */
    }


    /***** Hero *****/
    article h1 {
        padding: 25px;
        margin: 10px;
    }

    /***** End Hero *****/

}

/***** End Responsiviness *****/


/***** Responsiviness *****/
@media (max-width:768px) {
    .container {
        padding: 40px;
    }

    #logo-container i {
        display: block;
        margin-right: auto;
    }

    nav {
        justify-content: space-between;

    }

    .navbar {
        display: none;
    }


    .flex-container {
        flex-direction: column;
    }

    .grid {
        flex-direction: column;
    }

    /***** Hero *****/
    .hero h1 {
        padding: 25px;
        margin: 10px;
    }


    /***** End Hero *****/

}

/***** End Responsiviness *****/