@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

/* Resets */
:root {
    --text-color-wh: #ffffff;
    --text-color-blu: #071629;
    --btn-color: #FF6565;
    --space: 20px;
    --space-x: 40px 0;
    --text-container: 800px;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Code Pro";
    color: var(--text-color-wh);
    
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

header {
    background: url("/images/background.png") no-repeat center center/cover;
    max-width: 100%;
    min-height: 100vh;
}

li,
a {
    text-decoration: none;
    list-style: none;
    color: var(--text-color-wh);
}

button {
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 550;
    color: var(--text-color-wh);
    background: var(--btn-color);
    display: block;
    transition: background all .2s ease;
}

button:hover {
    cursor: pointer;
    background: #d44b4b;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .5);

}
