@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

/* Resets */
:root {
    --text-color-wh: #ffffff;
    --text-color-blu: #071629;
    --btn-color: #FF6565;
    --space: 20px;
    --space-x: 40px 0;
    --text-container: 800px;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Code Pro";
    color: var(--text-color-wh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: #071629;

}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 100%;
    /* width: ; */
    margin-inline: 4rem;
}

header {
    background: url("/images/background.png") no-repeat center center/cover;
    min-height: 100vh;
    width: auto;
    padding-top: 2rem;
}

li,
a {
    text-decoration: none;
    list-style: none;
    color: var(--text-color-wh);
}

button {
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 550;
    color: var(--text-color-wh);
    background: var(--btn-color);
    display: block;
    transition: background all .2s ease;
}

button:hover {
    cursor: pointer;
    background: #d44b4b;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .5);

}

/* reset display logo image */
#logo-container img {
    display: inline;
}

#logo-container .fa-solid {
    display: none;
}

/***** header Section *****/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 2rem;
    color: #ffffff;
    /* padding-right: 3rem; */
    /* margin-right: auto; */

}


.navbar a:hover,
.navbara:focus {
    transition:  all .3s ease-in-out;
    color: var(--btn-color);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    /* width: 100%; */
}

.hero h1 {
    font-size: clamp(3rem, 5vw, 1.5rem);
    font-weight: 800;
    padding-bottom: 1rem;
}

.hero p {
    margin-bottom: 2rem;
    font-family: 1.25rem;
}

/* #text{
    margin-bottom: 1rem;
    margin: 0 2rem;
} */

.hero button {
    margin-bottom: 3rem;

}

@media (max-width: 768px) {}

@media (max-width: 600px) {
    #logo-container .fa-solid {
        display: inline-block;
    }

    .navbar {
        display: none;
    }
}

/***** End header Section *****/